<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.BookMapper">

	<!-- 도서정보 입력 : insert 
	code, title, writer, price를 받아서 입력하는 sql코드 작성-->
	
	<insert id="insert">
		insert into bookTBL(code, title, writer, price) 
		values(#{code},#{title},#{writer},#{price})
	</insert>
	
	<!-- 도서 정보 삭제 : delete 
	code를 받아서 도서 삭제하는 sql 코드 작성-->
	<delete id="delete">
	delete from bookTBL where code=#{code}
	</delete>
	
	<!-- 도서 정보 수정 : update
	code, price를 받아서 가격 수정하는 sql 코드 작성 -->
	<update id="update">
	update bookTBL 
	set price=#{price} 
	where code=#{code}
	</update>
	
	<!-- 도서 목록 보기 : select
	전체 도서 목록을 가져오는 sql 코드 작성 -->
	<select id="list" resultType="com.spring.domain.BookVO">
	select * from bookTBL
	</select>
	
	<!-- 도서 정보 검색 : select
	code or writer를 받아서 일치하는 정보를 조회하는 sql코드 작성 -->
	<select id="search"  resultType="com.spring.domain.BookVO">
	select * from bookTBL 
	where 
	<if test="criteria=='code'.toString()">
		code=#{keyword}
	</if>
	<if test="criteria=='writer'.toString()">
	writer like '%'||#{keyword}||'%'
	</if>
	</select>
	
	
	</mapper>